@import './font-face.css';

:root {
  font-family: 'OPPO Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="light"] {
  color-scheme: light !important;
}

:root[data-theme="dark"] {
  color-scheme: dark !important;
}

a {
  font-weight: 500;
  color: #18a058;
  text-decoration: inherit;
}
a:hover {
  color: #36ad6a;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

/* 亮色模式 */
:root,
:root[data-theme="light"] {
  color: #333;
  background-color: #fff;
}

/* 深色模式 */
:root[data-theme="dark"],
:root[data-theme="dark"] body {
  background-color: #18181c;
  color: rgba(255, 255, 255, 0.87);
}
